<main class="marginCreatePass">
    <div class="container">
        <section>
            <h2>Crie sua própria sala</h2>
            <form action="">
                <label class="sr-only" for="room-pass">Insira uma senha</label> <!--O sr-only faz com que não apareça, mas ainda poderá ser lido por leitores.-->
                <input type="password" id="room-pass" placeholder="Insira uma senha"> <!-- Como tira essas setinhas do input? -->

                <button>
                <img src="/images/users-white.svg" alt="Entrar na sala">
                Criar sala
                </button>
            </form>
        </section>         
    </div>
</main>