<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <title>Rocket.Q - Perguntas e Respostas</title>

        <meta charset="UTF-8">
        
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <link rel="icon" href="/images/icon.svg">

        <!-- VIEW PORT -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- CSS -->
        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/room.css">
        <link rel="stylesheet" href="/css/modal.css">

        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;700&display=swap" rel="stylesheet"> 

    </head>
    <body>
        <div id="room" class="content">
            <header>
                <a href="/">
                    <img src="/images/logo.svg" alt="Rockekt.Q Logo"/>
                </a>

                <div class="buttons">
                    <div class="button outlined" id="room-id" data-id="{{roomId}}">
                        #{{roomId}}
                        <img src="/images/copy.svg" alt="Copiar número da sala"/>
                    </div>
                    <a href="#" class="button">
                        <img src="/images/users-white.svg" alt="Criar uma sala"/>
                        Criar Sala
                    </a>
                </div>
            </header>

            <main>
                <section id="question-form">
                    <h2>Faça sua pergunta</h2>
                    <form action="/question/create/{{roomId}}" method="POST">
                        <label class="sr-only" for-id="question">O que você quer perguntar?</label>
                        <!-- Colocar forma de aumentar o text-area conforme o texto fica maior. -->
                        <textarea name="question" id="question" placeholder="O que você quer perguntar?"></textarea>
                        
                        <footer>
                            <div>
                                <img src="/images/lock.svg" alt="Cadeado">
                                Esta pergunta é anônima.
                            </div>
                            <button>Enviar</button>
                        </footer>
                    </form>
                </section>

                <section id="questions">
                    <h2 class="sr-only">Perguntas da comunidade</h2>
                    <div class="questions">
                        
                        {{#each questions}}
                        <div class="question-wrapper">
                            <div class="question-content">
                                <div class="user">
                                    <img src="/images/user.svg" alt="Avatar">
                                </div>
                                <div class="question">
                                    <p>{{this.title}}</p>
                                </div>
                            </div>
                            <div class="actions">
                                <a href="#" class="check" data-id="4">  
                                    <img src="/images/check.svg" alt="Marcar como lida">
                                    Marcar como lida
                                </a>
                                <a href="#" class="delete" data-id="4">
                                    <img src="/images/trash.svg" alt="Excluir">
                                    Excluir
                                </a>
                            </div>
                        </div>
                        {{/each}}

                    </div>                    
                </section>

                <footer class="footerRoom"> <button type="button" id="navigateToTop">Voltar para o topo <img class="roomPad" src="/images/goTop.svg" alt="Happy"></button> </footer>

            </main>
        </div>

            <div class="modal-wrapper">
                <div class="modal">
                    <h2>Excluir pergunta</h2>
                    <p>Tem certeza que você deseja excluir essa pergunta?</p>

                    <form action="#" method="POST">
                        <label class="sr-only" for-id="password">Digite sua senha admin</label>
                        <input type="password" id="password" name="password" placeholder="Digite sua senha">

                        <div class="buttons">
                            <div class="button grey cancel">Cancelar</div>
                            <button class="red">Sim, excluir</button>
                        </div>
                    </form>

                </div>
            </div>

        <script>
            let buttonNavigateToTop = document.querySelector("#navigateToTop");

            buttonNavigateToTop.addEventListener("click",()=>{
                window.scrollTop(0,0);
            })

            /*function scrollTop() {
                window.scrollTop(0);
            };*/
        </script>
        <script src="/scripts/main.js" defer type="module"></script>
    </body>
</html>